/* hide the shell bar */
.sapMShellBrandingBar {
	display: none;
}

.ui5Mobile-app {
	height: 100%;
}

.ui5Mobile-app > .sapMFlexItem {
	height: 100%;
}

.ui5Mobile-mainPage > section > .sapUiView,
.ui5Mobile-splashPage > section > .sapUiView {
	height: 100%;
}

.ui5Mobile-splashImage {
	text-align: center;
	background-image: url('../images/splash.jpg');
	background-repeat: no-repeat;
	background-position: right -300px top 0px;
}

.ui5Mobile-splashImage .ui5Mobile-logo {
	margin-top: 15px;
}

.ui5Mobile-loginFormSec {
	padding: 20px 30px;
	background: white;
}

.ui5Mobile-loginFormSec .ui5Mobile-loginField {
	border-bottom: 1px solid #CCCCCC;
}

.ui5Mobile-loginFormSec .ui5Mobile-loginField .ui5Mobile-loginInput {
	padding: 0;
	height: 2em;
}

.ui5Mobile-loginFormSec .ui5Mobile-loginField .ui5Mobile-loginInput input {
	height: 2em;
	border: none;
	font-size: 1rem;
	background: transparent;
}

.ui5Mobile-rememberCheckBox {
	height: 2rem;
	line-height: 2rem;
	padding-left: 2rem;
}

.ui5Mobile-rememberCheckBox .sapMCbBg {
	left: 0.3rem;
	top: 0.2rem;
	height: 1rem;
	width: 1rem;
	line-height: 1rem;
	border-color: #137079;
	border-width: 2px;
}

.ui5Mobile-loginLabel {
	color: #137079;
	padding: 0 10px;
	font-size: 1rem;
}


/* Main Page - Header */

.ui5Mobile-mainNavView {
	display: block;
}

.ui5Mobile-mainPage > header.sapMIBar {
	background: white;
}

.ui5Mobile-mainPage header .sapMBarContainer {
	padding: 0;
}

/*------------------------------------------------------ PAYMENTS -----------------------------------------------------*/

.ui5Mobile-paymentPage {
	display: flex;
	flex-direction: column;
}

.ui5Mobile-paymentNavBar {
	border-bottom: 1px solid #CCCCCC;
}

.ui5Mobile-paymentIconTab {
	padding: 10px 0;
}

.ui5Mobile-paymentIconTab-icon {
	margin-bottom: 5px;
}

.ui5Mobile-paymentIconTab-label {
	font-size: 1rem;
}

.ui5Mobile-paymentIconTab-icon,
.ui5Mobile-paymentIconTab-label {
	color: #D1D3D4;
}

.ui5Mobile-paymentIconTab[data-active="true"] .ui5Mobile-paymentIconTab-icon,
.ui5Mobile-paymentIconTab[data-active="true"] .ui5Mobile-paymentIconTab-label {
	color: #38BBCD;
}

/* Payment Tab */

.ui5Mobile-paymentTab-amountDueLabel {
	font-size: 1.2rem;
	font-weight: bold;
	padding: 20px 10px;
}

.ui5Mobile-paymentTab-amountDueAmount {
	font-size: 4rem;
	color: #38BBCD;
}

.ui5Mobile-paymentTab-payInfo {
	width: 100%;
	padding: 6px 30px;
	height: 50px;
	border-top: 1px solid #CCCCCC;
}

.ui5Mobile-paymentTab-payInfoLabel {
	font-weight: bold;
}

/*------------------------------------------------------ BUTTONS -----------------------------------------------------*/

/* Text Button */

.ui5Mobile-textBtn {
	padding: 0;
	height: auto;
}

.ui5Mobile-textBtn .sapMBtnText,
.ui5Mobile-textBtn .sapMBtnText.sapMBtnActive {
	color: #137079;
	font-size: 1rem;
	border: none;
	background: transparent;
}

.ui5Mobile-textBtn .sapMBtnText .sapMBtnContent {
	line-height: 2rem;
}

/* Icon Button */

.ui5Mobile-iconBtn {
	padding: 0;
	height: auto;
}

.ui5Mobile-iconBtn .sapMBtnIconFirst .sapMBtnIcon,
.ui5Mobile-iconBtn .sapMBtnIconFirst.sapMBtnActive .sapMBtnIcon {
	color: #137079;
	font-size: 1rem;
	border: none;
	background: transparent;
}

.ui5Mobile-iconBtn > .sapMBtnIconFirst {
	background-color: transparent !important;
}

.ui5Mobile-iconBtn > .sapMBtnIconFirst.sapMBtnActive {
	background-color: transparent !important;
	border-color: transparent !important;
}


/* Primary Button */

.ui5Mobile-primaryBtn {
	width: 100%;
	padding: 0;
	height: auto;
}

.ui5Mobile-primaryBtn .sapMBtnInner {
	border: none;
	background: #137079;
	color: white;
	border-radius: 0;
	text-shadow: none;
	font-size: 1.5em;
	padding: 6px 12px;
	height: auto;
}